body {
    background-color: #ffffff;
    color: #434455;
    font-family: "Roboto", sans-serif;
}

/* nav icon */
.icon-link {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
}

span {
    color: #2e2f42;
}

nav > ul {
    list-style-type: none;
}

.nav-link {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address > ul {
    font-style: normal;
    list-style-type: none;
}

.contact-link {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.dark-background {
    background-image: url(/images/Dark-bg.jpg);
    background-color: #2e2f42;
}

.first-title { 
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.order-button { 
    background-color: #4d5ae5;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

.list-team {
    list-style-type: none;
}

.second-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
}

.third-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.list-staff {
    list-style-type: none;
}

.list-portf {
    list-style-type: none;
}

footer {
    background-image: url(/images/Dark-bg.jpg);
}

.footer-icon-link {
    color: #f4f4fd;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-icon-link > span {
    color: #4d5ae5;
}

footer > p {
    color: #f4f4fd;
}